<table summary="vote results">
    <style>
        body {
            font-family: 'Trebuchet MS';
        }
        table {
            box-shadow: 2px 2px 2px gray;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: rgb(234, 238, 242);
        }
        td {
            margin: 10px 4px;
            height: 2em;
            text-align: center;
        }
    </style>
    <tr><th>Track</th><th>Artist</th><th>Votes</th><th>Voters</th>
    {% for track in tracks %}
        <tr><td>{{ track.track }}</td><td>{{ track.artist }}</td><td>{{ track.n_votes }}</td><td>{{ track.voters }}</td></tr>
    {% endfor %}
</table>