{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

  <h2>Log In</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
  </form>

  <div class="button-container">
    <form action="{% url 'signup' %}" method="get">
      {% csrf_token %}
      <button type="submit" name='signup'>Sign up</button>
    </form>
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

</body>

</html>