{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Vote For Your Favorite Tracks</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
	<fieldset>
		<form method="post">
			{% csrf_token %}

			<legend>{{ form.Tracks.label }}</legend>
			{% for radio in form.Tracks %}
			<label>
				{{ radio.tag }} {{ radio.choice_label }}
			</label>
			{% endfor %}
			<input type="submit" value="Vote" />

		</form>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
		</ul>
		{% endif %}
	</fieldset>
</body>

</html>